SimpleITK
h5py
keras
matplotlib
numpy
opencv-python
pandas
runcython
scikit-image
scipy
simplejson
sklearn
tensorflow-gpu
tqdm
trans

dicom
flask
#flask-genshi
uwsgi
dicom

ipdb
jupyter
pylint
ipykernel
